@font-face {
  font-family: 'Quicksand';
  src: url('../public/font/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand-bold';
  src: url('../public/font/Quicksand-VariableFont_wght.ttf') format('truetype');
}

:root {
  --background: #0f0e17;
  --headline: #fffffe;
  --paragraph: #a7a9be;
  --button: #ff8906;
  --button-text: #fffffe;

  /* illustration */

  --stroke: black;
  --main: #fffffe;
  --highlight: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;
}

.main-profile {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.self-profile {
  width: 50%;
  color: var(--headline);
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.name-profile h1 {
  font-family: 'Quicksand-bold', Arial, Helvetica, sans-serif;
  margin-bottom: 7px;
}

.name-profile h1 span {
  color: var(--button);
}

.role-profile {
  font-weight: bold;
}

.about-profile {
  margin-top: 10px;
  line-height: 1.5;
}

.button {
  margin-top: 20px;
}

.button button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: var(--button);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Quicksand';
  letter-spacing: 1px;
  transition: 300ms;
}

.button button:hover {
  background-color: #c36800;
  position: relative;
}

.image-profile {
  width: 300px;
  height: 300px;
  background-color: var(--paragraph);
  border-radius: 50%;
  overflow: hidden;
}

.image-profile img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

@media screen and (max-width: 700px) {
  .main-profile {
    flex-direction: column;
    padding-top: 40px;
  }

  .self-profile {
    width: 100%;
    padding: 20px;
  }
}
